.App {
  text-align: center;
}

.game-button {
  height: 225px;
  width: 225px;
  font-size: 4rem;
}

.board-row {
  display: flex;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.title {
  grid-column-start: 2;
}

.winner {
  background-color: limegreen;
  color: white;
}
